<!DOCTYPE html>
<head>
	
	<div th:insert="librerias::librerias"></div>
	
</head>
<body>


<header>

	<div th:insert="top::top"></div>

</header>

<h1 class="m-3">Partidos en Spring</h1>


	<!-- IMPRIMIR TABLA ALUMNOS -->
	
	<table class="table table-hover">
		<thead class="table-dark bg-info text-white">
			<tr>
				<th> ID </th>
				<th> Visitante </th>
				<th> Puntuación Visitante </th>
				<th> Puntuación Local </th>
				<th> Local </th>
				<li sec:authorize="isAuthenticated()" class="list-unstyled">				
				<th> Editar </th>
				<th> Borrar </th>
				</li>
			</tr>
			
		</thead>
		<tbody>
			
		<!-- EL MEOLLO -->
		
			<tr th:if=" ${listaPartidos.empty}">
				<td colspan="2"> No hay partidos</td>
			</tr>
			
			<tr th:each="partido:${listaPartidos}">
			
				<td>
					<a th:href="@{/partidos/{id}(id=${partido.id})}" class="btn btn-primary btn-sm">
						<span th:text="${partido.id}"></span>
					</a>
				</td>
				
				<td>
					<span th:text="${partido.visitante.nombre}"></span>
				</td>
				
				<td>
					<span th:text="${partido.visitante_res}"></span>
				</td>
				
				<td>
					<span th:text="${partido.local_res}"></span>
				</td>
				
				<td>
					<span th:text="${partido.local.nombre}"></span>
				</td>

				<li sec:authorize="isAuthenticated()" class="list-unstyled">
				
				<td>
					<a th:attr="data-target='#modal-edit'+${partido.id}" data-toggle="modal" data-target="#modal-edit" class="btn btn-primary btn-sm text-white pointer">Edit</a>
				</td>
				
				<td>
					<a th:attr="data-target='#modal-delete'+${partido.id}" data-toggle="modal" data-target="#modal-delete" class="btn btn-danger btn-sm text-white pointer">Borrar</a>
				</td>
				</li>
				
				
				<!--edit modal -->
				
				<div class="modal fade" th:id="modal-edit+${partido.id}">
					
				<div class="modal-dialog" role="document">
				
					<div class="modal-content">
				
					<div class="modal-header">
					
						<h4 class="modal-title" id="exampleModalLabel">Editar</h4>
						
						<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="close">
					
						<span aria-hidden="true">x</span>
						</button>
						
					</div>
					
					<div class="modal-body">
					
						<p class="error-text">Introduce el equipo visitante:
							<strong><span th:text="${partido.visitante}"></span></strong>
						</p>
						
						<!-- formulario nombre a editar -->
						
						<form action="#" th:action="@{/partidos/edit/{id}(id=${partido.id})}" th:object="${partidoaEditar}" method="post">
							<div class="form-row"> 
								<div class="form-group mt-1">
									<label for="texto">Visitante</label>
									<select th:field="*{visitante}" class="form-control">
									<option value=""> --- </option>
							            <option th:each=equipo:${listaEquipos}
							                    th:text="${equipo.nombre}"
							                    th:value="${equipo.id}"></option>
							        </select>
								
								</div>
								
							</div>
							
						<p class="error-text">Introduce el equipo local:
							<strong><span th:text="${partido.visitante}"></span></strong>
						</p>
						
						<!-- formulario nombre a editar -->
						
							<div class="form-row"> 
								<div class="form-group mt-1">
									<label for="texto">Local</label>
									<select th:field="*{local}" class="form-control">
									<option value=""> --- </option>
							            <option th:each=equipo:${listaEquipos}
							                    th:text="${equipo.nombre}"
							                    th:value="${equipo.id}"></option>
							        </select>
								
								</div>
								
						<p class="error-text">Introduce la puntuacion para el equipo visitante: 
							<strong><span th:text="${partido.visitante.nombre}"></span></strong>
						</p>
						
						<!-- formulario nombre a editar -->
						
							<div class="form-row"> 
								<div class="form-group mt-1">
									<label for="texto">Puntuación Visitante</label>
									<input type="number" th:field="*{visitante_res}" class="form-control" id="exampleInputEmail1" th:attr="placeholder=${partido.visitante_res}"/>
								
								</div>
								
							</div>
							
						<p class="error-text">Introduce la puntuacion para el equipo local: 
							<strong><span th:text="${partido.local.nombre}"></span></strong>
						</p>
						
						<!-- formulario nombre a editar -->
						
							<div class="form-row"> 
								<div class="form-group mt-1">
									<label for="texto">Puntuación Local</label>
									<input type="number" th:field="*{local_res}" class="form-control" id="exampleInputEmail1" th:attr="placeholder=${partido.local_res}"/>
								
								</div>
								
							</div>
								
							</div>
							
							
							
					
						
						
						
						</div>
							
						<div class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true"> Cancelar </button>
							<input type="submit" value="Editar" class="btn btn-primary float-right"/>
						</div>
							
						
						</form>
					
					</div>
					
				</div>
				
				</div>
				
				<!-- fin edit modal -->
				
				<!--delete modal -->
				
				<div class="modal fade" th:id="modal-delete+${partido.id}">
					
				<div class="modal-dialog" role="document">
				
					<div class="modal-content">
				
					<div class="modal-header">
					
						<h4 class="modal-title" id="exampleModalLabel">Eliminar</h4>
						
						<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="close">
					
						<span aria-hidden="true">x</span>
						</button>
						
					</div>
					
					<div class="modal-body">
					
						<p class="error-text"> ¿Está seguro de eliminar al partido? :
							<strong><span th:text="${partido.id}"></span></strong>?
						</p>
						
						<!-- formulario nombre a eliminar -->
						
						
					</div>
							
						<div class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true"> Cancelar </button>
							<a th:href="@{/partidos/delete/{id}(id=${partido.id})}">
								<span class="btn btn-danger btn-sm" value="delete"> Borrar </span>
							</a>
						</div>
							
					
					</div>
				</div>
				</div>
				
				<!-- fin delete modal -->
				
			</tr>
			
		</tbody>
	
	
	
	</table>
	
	<div class="col-2 float-right">
	
		<div class="p-5">
		<li sec:authorize="isAuthenticated()" class="list-unstyled">
			<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#crearMensaje">
				Añadir
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
				   <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
				   <line x1="12" y1="5" x2="12" y2="19"></line>
				   <line x1="5" y1="12" x2="19" y2="12"></line>
</svg>
			</button>
		</li>
		</div>
	</div>
	
	<!--create modal -->
				
				<div class="modal fade" id="crearMensaje">
					
				<div class="modal-dialog" role="document">
				
					<div class="modal-content">
				
					<div class="modal-header">
					
						<h4 class="modal-title" id="exampleModalLabel">Crear Partido</h4>
						
						<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="close">
					
						<span aria-hidden="true">x</span>
						</button>
						
					</div>
					
					<div class="modal-body">
					
						<p class="error-text">Introduce el equipo visitante:
						</p>
												
						<!-- formulario nombre a editar  -->
						
						<form action="#" th:action="@{/partidos/add/}" th:object="${partidoNuevo}" method="post">
						
							<div class="form-row"> 
								<div class="form-group mt-1">
									<label for="texto">Visitante</label>
									<select th:field="*{visitante}" class="form-control">
									<option value=""> --- </option>
							            <option th:each=equipo:${listaEquipos}
							                    th:text="${equipo.nombre}"
							                    th:value="${equipo.id}"></option>
							        </select>
								
								</div>
								
							</div>
							
						<p class="error-text">Introduce el equipo local:
						</p>
						
						<!-- formulario nombre a editar -->
						
							<div class="form-row"> 
								<div class="form-group mt-1">
									<label for="texto">Local</label>
									<select th:field="*{local}" class="form-control">
									<option value=""> --- </option>
							            <option th:each=equipo:${listaEquipos}
							                    th:text="${equipo.nombre}"
							                    th:value="${equipo.id}"></option>
							        </select>
								
								</div>
								
						<p class="error-text">Introduce la puntuacion para el equipo visitante: 
						</p>
						
						<!-- formulario nombre a editar -->
						
							<div class="form-row"> 
								<div class="form-group mt-1">
									<label for="texto">Puntuación Visitante</label>
									<input type="number" th:field="*{visitante_res}" class="form-control" id="exampleInputEmail1" />
								
								</div>
								
							</div>
							
						<p class="error-text">Introduce la puntuacion para el equipo local: 
						</p>
						
						<!-- formulario nombre a editar -->
						
							<div class="form-row"> 
								<div class="form-group mt-1">
									<label for="texto">Puntuación Local</label>
									<input type="number" th:field="*{local_res}" class="form-control" id="exampleInputEmail1" />
								
								</div>
								
							</div>
								
							</div>
						</div>
							
						<div class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true"> Cancelar </button>
							<input type="submit" value="Crear" class="btn btn-primary float-right"/>
						</div>
							
						
						</form>
					
					</div>
					
				</div>
				
				</div>
				
	<!--fin create modal -->
	
</body>